{% extends "base.html" %}

{% block title %}
    <title>Список задач</title>
{% endblock %}

{% block links %}
    <button type="button" class="btn btn-link text-decoration-none" onclick="window.location.href='{% url 'create' %}'">Создать задачу</button>
{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Список задач</h2>
    {% for issues in issue %}
        <div class="card p-3 shadow-sm mb-3" style="max-width: 500px; margin: 0 auto;">
            <h3 class="mb-2"><strong>Статус:</strong> {{ issues.statuses }}</h3>
            <p class="mb-2"><strong>Типы:</strong>
                {% for type in issues.types.all %}
                    {{ type.title }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    нет ни одного типа
                {% endfor %}
            </p>
            <p class="mb-2"><strong>Краткое описание:</strong> {{ issues.summary }}</p>
            <p class="mb-2"><strong>Полное описание:</strong> {{ issues.description }}</p>
            <a href="{% url 'issue_detail' issues.pk %}" class="btn btn-info mb-2 w-100">Подробнее</a>
            <a href="{% url 'issue_update' issues.pk %}" class="btn btn-warning w-100">Изменить</a>
        </div>
    {% endfor %}
{% endblock %}