{% extends "base.html" %}
{% block content %}
    <h1>Детали задачи</h1>
    <div class="card mb-3">
        <div class="card-body">
            <p class="card-text"><strong>Статус:</strong> {{ todo.get_status_display }}</p>
            <p class="card-text"><strong>Описание:</strong> {{ todo.description }}</p>
            <p class="card-text"><strong>Подробное описание:</strong> {{ todo.description_detail|default:"Не указано" }}</p>
            <p class="card-text"><strong>Дата:</strong> {{ todo.date_completion|default:"Не указана" }}</p>
            <ul>
                <li><a href="{% url 'todo' %}">На главную</a></li>
                <li><a href="{% url 'todo_update' pk=todo.pk %}">Редактировать задачу</a></li>
                <li><a href="{% url 'todo_delete' pk=todo.pk %}" class="text-danger">Удалить задачу</a></li>
            </ul>
        </div>
    </div>

{% endblock %}