{% extends "base.html" %}

{% block title %}
    <title>TODO_LIST</title>
{% endblock %}

{% block content %}
<div class="container my-4">
    <a class="btn btn-primary mb-3" href="{% url 'create' %}">Создать задачу</a>

    <div class="row">
        {% for issue in issues %}
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card text-center bg-white rounded-4 h-100 d-flex flex-column align-items-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            <strong>Статус:</strong> {{ issue.statuses }}
                        </h5>
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            <strong>Типы:</strong>
                            {% for type in issue.types.all %}
                                {{ type.title }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                <span>Нет ни одного типа</span>
                            {% endfor %}
                        </h5>
                        <p class="card-text"><strong>Краткое описание:</strong><br>{{ issue.summary }}</p>
                        <p class="card-text"><strong>Полное описание:</strong><br>{{ issue.description }}</p>
                        <a href="{% url 'update' issue.pk %}" class="mx-1" title="Редактировать">
                            <i class="fa-2x fa-regular fa-pen-to-square"></i>
                        </a>
                        <a href="{% url 'detail' issue.pk %}" class="mx-1" title="Подробнее">
                            <i class="fa-2x fa-solid fa-circle-info"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
